<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>
 
<p>
  <strong>Name:</strong>
  <%= @user.name ? @user.name : 'Not specified' %>
</p>

<p>
  <strong>Avatar url:</strong>
  <%= @user.avatar_url %>
</p>

<p>
  <strong>Followers:</strong>
  <%= @user.followers %>
</p>

<p>
  <strong>Public repos:</strong>
  <%= @user.public_repos %>
</p>

<p>
  <strong>Repos URL:</strong>
  <%= @user.repos_url %>
</p>